<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Restaurant Apps Starter Project</title>

  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

  <header class="app-bar">
    <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
        <h1>RESTO CATALOGUE</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li class="nav__item"><a href="index.html">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/nabraska-amarilys-sholikhah-5090b4217/" target="_blank">About Us</a>
          </li>
        </ul>
    </nav>
</header>

  <main>
    <div class="hero" id="hero">
      <div class="hero__inner">
        <h1 class="hero__title">WELCOME!</h1>
        <p class="hero__tagline">
          Every meal is a masterpiece and every visit is a culinary adventure. Step into a world of exquisite flavors,
          carefully crafted dishes and a warm, inviting ambiance that sets the stage for unforgettable dining experiences.
        </p>
      </div>
    </div>
  
  
    <div class="content">
  
    </div>
  </main>

  <footer>
    Website Restaurant - Nebras &#169; 2023
  </footer>

</body>

</html>